*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #3D3D3D;    ;
}

#container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: auto;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: auto;
}

.box:nth-child(1){
    background-image: url(imgs/fondo-3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* .toggle{
    margin-top: 5%;
} */

.button{
    position:relative;
    width: 150px;
    height: 34px;
    overflow: hidden;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.25);
    font-size: 14px;
}


.button.r, .button.r .bg{
    border-radius: 100px;
}

.button.b2{
    border-radius: 2px;
}

.checkbox{
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs{
    z-index: 2;
}

.bg{
    width: 150px;
    background-color: #F9FAFE;
    transition: 0.3s ease all;
    z-index: 1;
}


/*----------   TOOGLE Login ---------- */

#button .knobs:before{
    content: 'Login';
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 2;
    left: 0;
    width: 75px;
    height: 30px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 0px 15px;
    background-color: #5d5fef;
    border-radius: 15px;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.25);
    font-family: 'Pragati Narrow', sans-serif;
}


/*----------  TOGLE Sing up  ----------*/
#button .checkbox:checked + .knobs:before{
    content: 'Sing up';
    left: 42px;
    background-color: #EF5DA8;
}

#button .checkbox:checked ~ .bg{
    background-color: #F9FAFE;
}

/* ----- Text welcome -----*/

.tittle-login{
    margin-top: 10%;
    font-size: 40px;
}
.emoji-hand{
    width: 40px;
    height: auto;
}

hr{
    width: 50%;
    margin: 32px 0;
    border: 0;
    border-top: 1px solid #D1D1D1; 
    height:0;
}

.txt{
    margin-bottom: 10%;
    text-align: center;
    color: #676767;
}

.txt span{
    color: #EF5DA8;
}

/* ----- Input and password -----*/


input#email, input#password, button{
    width: 340px;
    height: 40px;
    padding-left: 14px;
    background-color: #F9FAFE;
    border-style: hidden;
    border: 0.5px solid #D1D1D1;
    border-radius: 8px;
    margin: 13px 0;
    color:#909090
}
input#email:focus, input#password:focus{
    font-size: 15px;
    color: #3D3D3D;
}


/*-------- ANIMATION INPUTS EMAIL AND PASSWORD----------*/

    .label-animation {
        /* margin:20px; */
        position:relative;
    }
        
    .animation {
        padding-left: 10px;
        pointer-events: none;
        position:absolute;
        left:0;
        top:0;
        transition: 0.2s;
        transition-timing-function: ease;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        opacity:0.5;
    }

    input#password input#email {
        padding: 20px;
    }

    input#password:focus + .animation, input#password:not(:placeholder-shown) + .animation {
        opacity:1;
        transform: scale(0.75) translateY(-220%) translateX(0);
        color: #A5A6F6;
    }
    input#email:focus + .animation, input#email:not(:placeholder-shown) + .animation {
        opacity:1;
        transform: scale(0.75) translateY(-220%) translateX(0);
        color: #A5A6F6;
    }


/* ---------- Remember and Forgot Paswoord --------- */

input[type="checkbox"] + label {
    color: #B6B6B6;
}

input[type="password"]:focus, input[type="email"]:focus {
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 1px rgba(93,95,239,0.6);
    outline: 1px none;
}

form a{
    text-decoration: none;
    color: #5d5fef;
}

form a:hover{
    text-decoration:underline;
}

.remember-password{
    display: flex;
    justify-content: space-between;
    margin-bottom:20%;
    font-size: 14px;
    text-decoration: none;
}


button:hover{
    background-color: #EF5DA8    ;
    cursor: pointer;
    color: #FFF;
    border-color: #FFFFFF;
}